<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap"
    />
    <title>Vaccination</title>
    <link rel="stylesheet" href="../css/bg_style.css"/>
    <link rel="stylesheet" href="../css/header_style.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
</head>

<body>
<div class="rectangle-div">
</div>
<section>
    <!-- HEADER -->
    <header>
        <div class="vaccinationng-parent">
            <a href="#home" class="vaccinationng">Vaccination.ng</a>
            <div class="group-child">
            </div>
        </div>

        <nav aria-label="Primary navigation">
            <ul>
                <li><a href="#home" class="is active">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#schedule">Schedule</a></li>
                <li><a href="#contact">Contact us</a></li>
            </ul>
        </nav>
        <a href="#checkstatus" class="check-status">Check Status</a>
    </header>

    <!-- MAIN -->
    <main>
        <!-- Group 4 -->
        <section class="group4">
            <div class="hero-left">
                <p class="hero__eyebrow">Get Vaccinated. Boost your Immune System</p>

                <div class="covid-19-vaccination-got-container">
                    <p class="covid-19-vaccination">COVID-19 Vaccination</p>
                    <p class="covid-19-vaccination">Got Easier With,</p>
                    <p class="vaccinationng1">Vaccination.ng</p>
                </div>
                <p class="hero__desc">
                Vaccination.ng will help you find the nearest <br>
                centre for vaccination, in all 36 states in Nigeria.
                </p>
                <nav class="hero-cta" aria-label="Hero actions">
                    <ul>
                        <li><a href="#get-vaccine" class="btn btn-primary">Get Vaccine</a></li>
                        <li><a href="#help-centre" class="btn btn-secondary">Help Centre</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Group 22-->
            <section class="group22-parent">
                <div class="picture">
                    <img src="../img/unsplash_wnSEwHMhxho.png" alt=" ">
                </div>
                <!-- Group 17-->
                <div class="group17-sub">
                    <div class="group-child2">
                    </div>
                    <img class="doctor-taking-safety-measures-icon" alt=""
                    src="../img/doctor-taking-safety-measures-for-corona-2996940-2495209.png">
                </div>
                <!-- Group 18-->
                <div class="group18-sub">
                    <div class="group-child1">
                    </div>
                    <img class="coronavirus-2996952-2495219-icon" alt="" src="../img/coronavirus-2996952-2495219.png">
                </div>
                <!-- Group 21-->
                <div class="group21-sub">
                    <div class="rectangle-div">
                    </div>
                    <div class="group20-child">
                        <figure>
                            <img src="../img/Rectangle%209.png" alt="">
                            <img src="../img/Rectangle%2010.png" alt="">
                            <img src="../img/Rectangle%2011.png" alt="">
                        </figure>
                    </div>
                    <div class="group19-sub">
                        <b class="b">20+</b>
                        <b class="specialists">Specialists</b>
                    </div>
                </div>
            </section>
        </section>



        <!-- Group 16-->
        <section class="group16-parent">
            <!-- Group 6-->
            <section class="group6-sub">
                <div class="group5-sub">
                    <figure>
                        <img src="../svg/clock.svg" alt=" ">
                    </figure>
                </div>
                <b class="schedule-your-vaccination">Schedule your Vaccination</b>
            </section>

            <!-- Group 15-->
            <section class="group15-sub">
                <div class="rectangle4"></div>
                <div class="rectangle5"></div>
                <!-- Group 14-->
                <section class="group14-sub">
                    <!-- Group 11-->
                    <div class="group11-sub">
                        <div class=group10-sub>
                            <div class="location">Location</div>
                            <b class="ikeja-lagos-nigeria">Ikeja Lagos, Nigeria</b>
                        </div>
                        <div class=map-pin-sub>
                            <figure>
                                <img src="../svg/map-pin.svg" alt=" ">
                            </figure>
                        </div>
                    </div>
                    <!-- Group 12-->
                    <div class="group12-sub">
                        <div class=group10-1-sub>
                            <div class="date">Date</div>
                            <b class="february-2022">29 February, 2022</b>
                        </div>
                        <div class=calendar-sub>
                            <figure>
                                <img src="../svg/calendar.svg" alt=" ">
                            </figure>
                        </div>
                    </div>

                    <!-- Group 13-->
                    <div class="group13-sub">
                        <div class=group10-2-sub>
                            <div class="vaccine-type">Vaccine type</div>
                            <b class="mordena">Mordena</b>
                        </div>
                        <div class=shield-sub>
                            <figure>
                                <img src="../svg/shield.svg" alt=" ">
                            </figure>
                        </div>
                    </div>
                </section>

                <a href="#submit" class="btn btn-submit">Submit</a>
            </section>
        </section>
    </main>
</section>
</body>
</html>
